body {
    background-color: #F9F9F9;
}

h2 {
    text-align: center;
    color:white;
}

p {
    text-align: center;
    color:white;
}


.profile-container {
    background-color: #473F3F;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.banner {
    height: 100px;
    background-color: #333333;
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
    border-radius: 20px 20px 0px 0px;
}

.profile-pic {
    border-radius: 50%;
    border: solid black 3px;
    margin-top: -75px;
    /*  position : relative;
    bottom : 75px;  */
}

.tag {
    background-color: #333333;
    padding: 7px 10px;
    border-radius: 30px;
    margin: 10px;
    color:#F9F9F9;
}

.floating-box {
    background: #FF7F50;
    width: 120px;
    height: 70px;
    color: white;
    line-height: 70px;
    position: relative;
    left: 250px;
    top: -35px;
    border-radius: 20px ;
}
button:hover {
    background-color: red;
    color: white;
}

